body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

.container {
    padding-top: 15px;
    max-width: 500px;
    margin: 45px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
p,
h2 {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee8900;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-content: center;

}

.main {
    background-color: lightgray;
    max-width: 700px;
    padding-top: 15px;
    padding: 20px;
    margin: 45px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.propertyname{
    width: 125px;
    justify-content: center;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-6{
    flex:0 0 auto;
    width: 50%;
  }

  .dropdown{
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    background-color: #fff;
    transform: translateY(4px);
    position: absolute;
  }
  .dropdown-item{
    padding:5px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: #9fc3f870;
  }

  .field{
    width: 85px;
  }